.container{
    border: 1px solid black;
    padding: 10px;
    background-color: rgb(218, 219, 219);
    align-items: center;
    height: 500px;
    width: 500px;
    margin: 0 auto;
    
}
.content{
    width: 500px;
    margin: 0 auto;
    padding: 10px;
}
.range{
    padding: 10px;
}